<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Provider Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<div class="form-group">
    	<label for="options">Select which service to offer:</label>
    	<div *ngFor="let option of options">
        	<label class="form-group">
            	<input class="check-box-padding" type="checkbox"
                	   name="options"
                   	value="{{option.value}}"
                   	[(ngModel)]="option.checked"/>{{option.name}}
        	</label>
    	</div>
	</div>

  <div>
    <ion-item>
      <ion-label stacked>Provider Radius</ion-label>
      <ion-input placeholder="Input Mile Radius." [(ngModel)]="radius"> </ion-input>
    </ion-item>
  </div>

  <div>
	 <ion-item class="selected-classes">
      <ion-label stacked>Classes</ion-label>
      <ion-input (keypress)="onInputKeypress($event)" placeholder="Please list the classes you can tutor." [(ngModel)]="classesText"></ion-input>
    </ion-item>
  </div>

	<div>
		<ul *ngFor="let class of classes">
		<span> {{class}}</span>
		</ul>
	</div>

	<button ion-button (click)="presentConfirm()">OFFER</button>

</ion-content>
