page-in-progress {

	.img-circle1 {
		position: relative;
  		overflow: hidden;
		border-radius: 50%;
    	width: 25%;
	}

	.img-circle2 {
		position: relative;
  		overflow: hidden;
		border-radius: 50%;
    	width: 25%;
	}

    .font {
        font-family: "HelveticaNeue-Light";
    }




}
