page-home {
    .sebm-google-map-container {
        height: 100%;
    }
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.profile-picture {
    border:gray 2px solid;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-position: center;
    background-size: cover;
    overflow: hidden; 
}