<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14" [styles]="customStyle" [streetViewControl]="false">
    <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="myLocationFound" iconUrl="https://i.stack.imgur.com/orZ4x.png">
    </agm-marker>
    <div *ngFor="let tutor of tutorLocations | async">
      <agm-marker [latitude]="tutor.latitude" [longitude]="tutor.longitude" (markerClick)="markerClick(tutor)">
        <agm-info-window>
          <div *ngIf="tutor.user.profile.picture" class="profile-picture" [ngStyle]="{'background-image': 'url(' + tutor.user.profile.picture + ')'}"></div>
          <h6>Name: {{ tutor.user.profile.name }}</h6>
          Rating: <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
          <br>
          <button ion-button round outline class="view-button" (click)="view(tutor.user)">View</button>
        </agm-info-window>
      </agm-marker>
    </div>
    
  </agm-map>
</ion-content>
